!/reve/ubuntu/Vagrantfile
*.dot
*~
.stack-work/
.vagrant
/concourse/credentials.yml
/reve/build/
/reve/docker/llreve
/reve/docker/llreve-dynamic
/reve/dynamic/interpreter/build
/reve/dynamic/llreve-dynamic/build
/reve/examples/voting/*.java
/reve/opensuse/reve
/reve/reve-test-suite/build/
/reve/reve.pdf
/reve/reve.tex
/reve/reve/.idea/
/reve/reve/_build/
/reve/reve/build/
/reve/reve/doc
/reve/reve/report.html
/reve/reve/shake/*.smt2
/reve/ubuntu/
/reve/vagrant/reve
__pycache__/
cex
eldarica
eldarica_mod
TAGS
z3