/reve/reve/build/
/reve/build/
/reve/reve-test-suite/build/
.stack-work/
*.dot
*~
/reve/reve/.idea/
/reve/ubuntu/
.vagrant
/reve/vagrant/reve
/reve/reve.pdf
/reve/reve.tex
__pycache__/
/reve/reve/doc
/reve/reve/_build/
/reve/reve/report.html
/reve/examples/voting/*.java
/reve/reve/shake/*.smt2
TAGS
/reve/dynamic/llreve-dynamic/build
/reve/docker/llreve
/reve/docker/llreve-dynamic
