*~
*.dot
.stack-work/
.vagrant
TAGS
/reve/reve/build/
/reve/reve-test-suite/build/
/reve/vagrant/reve
/reve/examples/voting/*.java
/reve/dynamic/llreve-dynamic/build
/reve/docker/llreve
/reve/docker/llreve-dynamic
